body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.page-header {
    border: none;
}

ul.nav.nav-tabs {
    margin-bottom: 30px;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a:hover.active,
.nav-tabs > li > a:focus.active {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.duration-criteria {
    padding-left: 10px;
    border-left: 5px solid #eee;
    margin-top: 10px;
}

.duration-criteria input,
.duration-criteria select
{
    display: inline;
}

.duration-criteria input[type=number]
{
    width: 75px;
}

.duration-criteria select
{
    width: 150px;
    margin: 0 5px;
}

.duration-criteria a
{
    margin-left: 10px;
}

.btn-primary
{
    margin-top: 10px;
}

.search-result
{
    display: table-row;
}

.search-result > img
{
    display: table-cell;
    padding-bottom: 15px;
    padding-right: 15px;
}

.search-result > div
{
    display: table-cell;
    vertical-align: top;
    padding-bottom: 15px;
}

.search-result > div > header
{
    font-size: 120%;
}

.search-result > div > header > span:first-child,
.search-result > div > div > span:first-child
{
    display: inline-block;
    width: 150px;
}

.search-result > div > header > span:nth-child(2),
.search-result > div > div > span:nth-child(2)
{
    display: inline-block;
    width: 250px;
}

.search-result > div > footer
{
    margin-top: 15px;
}

.search-result > div > footer > .duration
{
    color: #999;
}

.search-result > div > footer > div:last-child
{
    margin-top: 15px;
}

.search-result > div > footer > div:last-child > .btn
{
    margin-right: 5px;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #ccc;
  border-radius: 2px;
  height: 100%;
  width: 6px;
  margin-right: 2px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}